.strokeDashConnection {
  animation: anime_stream 3s linear 0s reverse infinite;

  stroke-dasharray: 30 30;
  stroke-dashoffset: 60;
}

@keyframes anime_stream {
  100% {
    stroke-dashoffset: -60;
  }

  50% {
    stroke-dashoffset: 0;
  }

  0% {
    stroke-dashoffset: 60;
  }
}
