#stream1 {
  animation: anime_stream 3s linear 0s backwards infinite;

  stroke-dasharray: 21 12;
  stroke-dashoffset: 50;
}

#stream2 {
  animation: anime_stream 3s linear 0s backwards infinite;

  stroke-dasharray: 21 12;
  stroke-dashoffset: 50;
}

#stream0 {
  animation: anime_stream 3s linear 0s backwards infinite;

  stroke-dasharray: 21 12;
  stroke-dashoffset: 50;
}

@keyframes anime_stream {
  100% {
    stroke-dashoffset: -50;
  }

  50% {
    stroke-dashoffset: 0;
  }

  0% {
    stroke-dashoffset: 50;
  }
}